<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "NeoteriX", root_path, class: "navbar-brand" %>
  </div>



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <body>   
       <ul class="nav navbar-nav navbar-left">
         <li><%= link_to "Products & Services", services_path, class: "services" %></li>
        </ul>
      </body> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <body>  
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About Us", about_path, class: "about" %></li>
        </ul>
      </body>
    </div>
  </div>
</nav>


    </div><!-- /.navbar navbar-default -->
  </div><!-- /.container -->
</nav>